<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>428699200131-ldtq40m7eo7se1d4c6l2sjb65le9oahl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428699200131-ldtq40m7eo7se1d4c6l2sjb65le9oahl</string>
	<key>API_KEY</key>
	<string>AIzaSyB_S-kWSFyvqgaF3o2tbVc9GI3vNDugWNo</string>
	<key>GCM_SENDER_ID</key>
	<string>428699200131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobilefootie.fotmobpro.Mobile-Era</string>
	<key>PROJECT_ID</key>
	<string>mobileera-2017</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileera-2017.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:428699200131:ios:3cd72afb24e3621b</string>
	<key>DATABASE_URL</key>
	<string>https://mobileera-2017.firebaseio.com</string>
</dict>
</plist>
